/*Colour scheme
    #b9b3ce //Lavender gray
    #91afc4 //Pewter blue
    #638fc2 //Silver lake blue
    #897da6 //Gray-blue
    #756fa8 //Rhythm
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    background-color: #fff;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}

nav{
    min-height: 13vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1,
nav ul{
    font-size: 1.5rem;
    flex: 1;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: #000;
    text-decoration: none;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2{
    font-size: 5rem;
    color: #000;
}

.header3s{
    text-align: center;
    font-size: 1.5em;
    color: #000;
    line-height: 45px;
    border: 1px solid #000;
    padding: 15px;
}

.home{
    background: linear-gradient(to right top, #91afc4, #91afc4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.story{
    background: linear-gradient(to right top, #897da6, #756fa8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.height-change{
    margin-top: 5%;
    margin-bottom: 5%;
}

#story-header{
    margin-bottom: 5%;
    text-align: center;
}

.photos{
    background: linear-gradient(to right top, #ff416c, #ff4b2b);
}

.registry{
    background: linear-gradient(to right top, #8f94fb, #4e54c8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rsvp{
    background: linear-gradient(to right top, #dce35b, #45b649);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bubble{
    position: absolute;
    z-index: -2;
    background: linear-gradient(to right top, #91afc4, #91afc4);
    transform: scale(1.2);
    transition: all 0.5s ease;
}

.rsvp-link{
    color: #fff;
    text-decoration: none;
}

.rsvp-link:hover{
    color: #d8d8d8;
    text-decoration: underline;
}

.registry-link{
    color: #000;
    text-decoration: none;
}

.registry-link:hover{
    color: #474747;
    text-decoration: underline;
}

span{
    opacity: 0;
    display: inline-block;
    transform: translateX(-100%);
    transition: all 1s ease;
}

span.fade{
    opacity: 1;
    transform: translateX(0%);
    letter-spacing: 10px;
}

.stonks{
    width: 25vw;
}

.row{
    margin: 10% 0% 10% 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
}

#RSVP-header{
    color: #fff;
}

p{
    font-size: 1.2em;
    width: 50vw;
    line-height: 40px;
    text-align: left;
    margin-left: 2.5%;
    margin-bottom: 3%;
}

/* Responsive design

iPhone 6/7/8 Plus portrait*/
@media screen and (max-width: 414px){
    #logo{
        display: none;
    }

    .mnu{
        font-size: 1em;
    }

    .tanimation{
        font-size: 2em;
    }

    span.fade{
        letter-spacing: 3px;
    }

    .header3s{
        font-size: 0.8em;
        width: 80vw;
    }

    #story-header, .registry > h2, #RSVP-header{
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 2.3em;
    }

    p{
        font-size: 1em;
        line-height: 30px;
        width: 80vw;
        margin-bottom: 5%;
    }

    .rsvp-link{
        font-size: 1em;
    }

    .row{
        margin: 20% 0% 20% 0%;
    }
}

/*iPhone 6/7/8 Plus landscape*/
@media screen and (min-width: 575px) and (max-width: 736px){
    .mnu{
        font-size: 15px;
    }

    .tanimation{
        margin-top: 15%;
        font-size: 3.8em;
    }

    span.fade{
        letter-spacing: 5px;
    }

    #story-header{
        font-size: 3em;
    }

    p{
        margin-left: 3.5%;
        width: 70vw;
        font-size: 1.2em;
        line-height: 30px;
    }

    .registry > h2{
        font-size: 3em;
    }

    .registry-link{
        font-size: 1em;
    }

    #RSVP-header{
        font-size: 3em;
    }

    .rsvp-link{
        font-size: 1em;
    }

    .header3s{
        font-size: 1em;
        width: 60vw;
        margin-top: 10%;
        margin-bottom: 15%;
    }
}










/*Submission received page*/
#backCol, .received{
    background-color: #638fc2;
}

article{
    background: linear-gradient(to right top, #dce35b, #45b649);
    margin-top: 15%;
    width: 60vw;
    height: 30vh;
    padding: 15px;
    margin-left: 20%;
    text-align: center;
    line-height: 75px;
}

h4{
    font-size: 40px;
    color: #fff;
}

#terugHome{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

#terugHome:hover{
    color: #d8d8d8;
    text-decoration: underline;
}
